body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    flex: 1; /* Permet au body de prendre toute la hauteur disponible */
    display: flex;
    flex-direction: column; /* Disposition en colonne */
    justify-content: center; /* Centre le contenu verticalement */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le padding par défaut */
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Largeur du formulaire */
    margin: auto; /* Centre le conteneur horizontalement */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Centre le texte du titre */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Couleur verte */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Couleur au survol */
}
