.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
    color: #333;
    white-space: nowrap;
    margin-top: 100px;
}


.marquee h2 {
    display: inline-block;
    padding-left: 50%;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
