.panel-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    padding: 4em;
}

.panel {
    background-color: #1F63DE;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    width: 200px;
    margin-top: 30%;
}

.panel h2 {
    margin: 0;
    font-size: 18px;
}